<div>
  <div align="center">
    <br><br><br>
    <h1 class="landing-text">Bindler</h1>
    <div id="time"></div><br>
  </div>

  <div align="center" id="landing-image">
        <%= link_to(image_tag("bindler_landing.jpg", class: "landing-image"), creators_path, title: "Click to enter") %>
  </div>

  <div id="landing-description">
    <div class="flex item">
    </div>
  </div>
</div>

<%= render 'layouts/footer' %>
